.qsm-certificate-table-container .qsm-check-column {
    width: 40px;  
    padding: 0;  
    text-align: center;
}

.qsm-certificate-table-container div.dt-container select.dt-input{
    padding: 0px 23px 0 11px ;
    background-color: #fff;
}
.qsm-certificate-table-container div.dt-container .dt-search input{
    padding: 0;
    background-color: #fff;
}
.qsm-certificate-expiry-days #expiry_days,
.qsm-certificate-expiry-date #expiry_date,
#prefix,
#certificate_font,
#certificate_title,
#certificate_dpi,
#certificate_logo,
#certificate_logo_style,
#qsm_certificate_background,
#certificate_id_err_msg_wrong_txt,
#certificate_id_err_msg_blank_txt{
    border-radius: 5px;
    border-color: #ccc;
    padding-top: 3px;
    padding-bottom: 3px;
}
.qsm-delete-file{
    border: none;
    background: none;
    cursor: pointer;
    border-left: 1px solid #ccc;
    padding-top: 5px;
    padding-bottom: 3px;
}
.qsm-view-file{
    margin-right: 2px;
}
.qsm-table-icons{
    display: inline-flex;
    border: 1px solid #ccc;
    background-color: #fff;
    width: fit-content;
    border-radius: 5px;
}
.qsm-table-icons .qsm-view-file img{
    width: 20px;
    padding: 9px 3px 4px 7px;
}
.qsm-table-icons a.qsm-view-file:focus, 
.qsm-table-icons a.qsm-view-file:active {
    outline: none; 
    border: none;
    box-shadow: none;
}
.qsm-certificate-preview-btn .dashicons-visibility:before{
    position: relative;
    top: 3px;
    right: 3px;
}
#wp-certificate_template-wrap .qsm-certificate-template-preview-btn {
    margin-top: 10px;
}
.qsm-certificate-result{
    font-family: system-ui; 
    width: fit-content; 
    margin: 0 auto; 
    border: 1px solid #e0e0e0; 
    border-radius: 5px; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 30px;
    font-size: 15px;
    font-weight: 500;
}
.qsm-certificate-details{
    display: flex;
}
.qsm-certificate-result .qsm-certificate-pdf-preview{
    position: relative;
    top: 10px;
}
.qsm-certificate-result .qsm-certificate-pdf-preview a{
    text-decoration: none;  
    color: black;
    font-weight: bold;
}
.qsm-certificate-pdf-preview .dashicons-arrow-right{
    font-size: 25px;
}
.qsm-certificate-details .dashicons{
    position: relative;
    top: 2px;
    width: 15px;
    height: 15px;
    font-size: 15px;
    padding: 1px 0 0 0;
}
.qsm-certificate-error{
    color: red;
}