.qsm-certificate-table-container .qsm-check-column {
    width: 40px;  
    padding: 0;  
    text-align: center;
}

.qsm-certificate-table-container div.dt-container select.dt-input{
    padding: 0px 23px 0 11px ;
    background-color: #fff;
}
.qsm-certificate-table-container div.dt-container .dt-search input{
    padding: 0;
    background-color: #fff;
}
.qsm-certificate-expiry-days #expiry_days,
.qsm-certificate-expiry-date #expiry_date,
#prefix,
#certificate_font,
#certificate_title,
#certificate_dpi,
#certificate_logo,
#certificate_logo_style,
#qsm_certificate_background,
#certificate_id_err_msg_wrong_txt,
#certificate_id_err_msg_blank_txt{
    border-radius: 5px;
    border-color: #ccc;
    padding-top: 3px;
    padding-bottom: 3px;
}
.qsm-delete-file{
    border: none;
    background: none;
    cursor: pointer;
    border-left: 1px solid #ccc;
    padding-top: 5px;
    padding-bottom: 3px;
}
.qsm-view-file{
    margin-right: 2px;
}
.qsm-table-icons{
    display: inline-flex;
    border: 1px solid #ccc;
    background-color: #fff;
    width: fit-content;
    border-radius: 5px;
}
.qsm-table-icons .qsm-view-file img{
    width: 20px;
    padding: 9px 3px 4px 7px;
}
.qsm-table-icons a.qsm-view-file:focus, 
.qsm-table-icons a.qsm-view-file:active {
    outline: none; 
    border: none;
    box-shadow: none;
}
.qsm-certificate-preview-btn .dashicons-visibility:before{
    position: relative;
    top: 3px;
    right: 3px;
}
#wp-certificate_template-wrap .qsm-certificate-template-preview-btn {
    margin-top: 10px;
}
#qsm-certificate-show-popup .qsm-popup__container{
    max-width: 100%;
}
.qsm-certificate-popup-footer{
    margin-top: 10px;
}
.qsm-preview-btn .dashicons-visibility:before{
    position: relative;
    top: 3px;
    right: 3px;
}
#wp-certificate_template-wrap .qsm-certificate-template-btn,
#wp-certificate_template-wrap .qsm-certificate-save-template-button{
    margin-top: 10px;
    margin-right: 5px;
}
.qsm-certificate-page-template-card {
	display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    transition: background-color 0.3s ease;
	background: linear-gradient(135deg, #DBE2FE, #D9F5E1);
    padding: 17px 8px;
    width: 250px;
    margin: 20px;
}

.qsm-certificate-page-template-card-content {
    transition: background-color 0.3s ease; /* Transition on the child */
}

.qsm-certificate-page-template-card-content {
	position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
	height: 175px;
    min-width: 230px;
    overflow: hidden;
	background: #fff;
}

.qsm-certificate-page-template-card-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
img.qsm-certificate-page-template-card-image {
	position: absolute;
    max-width: calc(100% - 10px);
    top: 5px;
}
.qsm-certificate-page-template-card-content:hover::before {
    opacity: 1;
}
.qsm-certificate-page-template-card-content button {
    position: relative;
    z-index: 2;
}

.qsm-certificate-page-template-button {
	background-color: #FFFFFF;
	color: #0056b3;
}

.qsm-certificate-page-template-template-name {
	margin: 16px 0 0 0;
	font-size: 14px;
	color: #333;
}
 
#qsm-certificate-page-templates .qsm-popup__container {
	max-width: 940px;
	padding: 0;
	max-height: 80vh;
	border-radius: 0;
}

#qsm-certificate-page-templates .qsm-popup__close {
	color: #1E1E1E;
	font-weight: 600;
}

#qsm-certificate-page-templates .qsm-certificate-page-template-card-buttons {
	max-width: 100px;
	display: none;
    background: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #8a8a8a;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
	z-index: 3;
}

.qsm-certificate-page-template-card-buttons img.qsm-common-svg-image-class {
	position: relative;
	bottom: 4px;
	padding-right: 3px;
}

.qsm-certificate-page-template-header-tabs {
	display: flex;
    justify-content: center;
    gap: 20px;
}

#qsm-certificate-page-templates .qsm-popup__header {
	display: grid;
    grid-template-columns: 1.4fr 2fr;
	border-bottom: 1px solid rgba(30, 30, 30, 0.1);
	padding: 0 10px;
}

#qsm-certificate-page-templates .qsm-popup__header .qsm-certificate-page-template-header-image {
	max-height: 55px;
}

.qsm-certificate-page-template-header-tabs .qsm-certificate-page-tmpl-header-links {
    color: #1E1E1E;
}

.qsm-certificate-page-template-header-left {
    display: flex;
    align-items: center;
}

h2#qsm-certificate-page-templates-title {
    color: #1E1E1E;
    font-size: 15px;
    font-weight: 400;
    padding-top: 4px;
}
.qsm-certificate-page-template-header-right {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.qsm-certificate-page-template-header-right .qsm-popup__close{
    cursor: pointer;
}

.qsm-certificate-page-template-header-tabs .qsm-certificate-page-tmpl-header-links.active {
	color: #1D4ED8;
	font-weight: 500;
    text-decoration: underline;
    text-decoration-color: #1D4ED8;
    text-underline-offset: 10px;
}

.qsm-certificate-page-template-header-tabs a{
    text-decoration: none;
}

.qsm-more-settings-box-details a.qsm-view-templates-list:hover{
	background-color: #ebf4fc;
}

.qsm-certificate-page-template-card-buttons button.button {
	width: 100px;
    border: none;
    margin: 2px 0px 3px 0px;
}

.qsm-popup__header .qsm-popup__close{
    cursor: pointer;
}

.qsm-certificate-page-template-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#qsm-preview-certificate-page-templates-content{
    text-align: center;
}

.qsm-certificate-preview-page-template-header-left {
    display: flex;
    align-items: center;
}

h2#qsm-certificate-preview-page-templates-title {
    color: #1E1E1E;
    font-size: 15px;
    font-weight: 400;
    padding-top: 4px;
}
.qsm-certificate-preview-page-template-header-right {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.qsm-certificate-preview-page-template-header-right .qsm-popup__close{
    cursor: pointer;
}
#qsm-certificate-show-popup .qsm-popup__header{
    display: grid;
    grid-template-columns: 1.4fr 2fr;
    border-bottom: 1px solid rgba(30, 30, 30, 0.1);
}
#qsm-certificate-show-popup .qsm-popup__header .qsm-certificate-preview-page-template-header-image {
	max-height: 55px;
}
#qsm-certificate-show-changes{
    margin-top: 30px;
}
#qsm-certificate-page-templates-content .qsm-certificate-my-template-container{
    margin: 0 20px;
}
.qsm-use-my-template,
.qsm-delete-template{
    border: none;
    background: none;
    cursor: pointer;
    border-left: 1px solid #ccc;
    padding-top: 5px;
    padding-bottom: 3px;
    border-right: 1px solid #ccc;   
}
.qsm-use-my-template img{
    width: 20px;
    position: relative;
    top: 3px;
}
#qsm-template-name-update-form td {
    display: grid;
    grid-template-columns: 22px auto;
    align-items: center;
    row-gap: 8px;
}

#qsm-template-name-update-form td input[type="radio"] {
    margin: 0;
}
.qsm-certificate-validate-parent,
.qsm-license-content {
    padding: 10px 15px;
}

.qsm-certificate-expiry-shortcode-notloop {
    min-width: 120px;
    text-align: center;
    margin-left: 8px;
    margin-top: -6px;
}
.qsm-certificate-expiry-shortcode-notloop span {
    cursor: pointer;
}
.certificate-copy-success {
    color: rgb(45, 158, 45);
    display: none;
}
.qsm-certificate-expiry-shortcode-notloop:not(:hover) .qsm-certificate-expiry-shortcode-info {
    display: none;
}
.qsm-certificate-expiry-shortcode-notloop:hover .qsm-certificate-expiry-shortcode-print {
    display: none;
}
.qsm-certificate-expiry-shortcode-notloop {
    min-width: 150px;
}
.qsm-certificate-message{
    border:1px solid #c3c4c7;
    background: #f6f7f7;
    padding-left: 15px;
}
#qsm-certificate-already-generated{
    margin-top: 20px;
    border-left: 5px solid #0073aa;
}
#qsm-certificate-message-update{
    margin-top: 20px;
    border-left: 5px solid #dc3232;
}
#qsm-certificate-not-found{
    margin-top: 20px;
    border-left: 5px solid #ffb900;
}
#qsm-certificate-created{
    margin-top: 20px;
    border-left: 5px solid #46b450;
}
#qsm-certificate-failed{
    margin-top: 20px;
    border-left: 5px solid #ffb900;
}
